<?xml version="1.0" encoding="utf-8"?>
<configuration  xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <configSections>
        <section name="sitecore" type="Square.Foundation.Configuration.ConfigReader, Square.Foundation.Configuration" xdt:Locator="Match(name)" xdt:Transform="SetAttributes(type)" />
    </configSections>
</configuration>