<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <settings>
            <setting name="Interning.Enabled">
                <patch:attribute name="value">true</patch:attribute>
            </setting>
            <setting name="Interning.InternKnownFieldValues">
                <patch:attribute name="value">true</patch:attribute>
            </setting>
        </settings>
        <interning>
            <fieldIdsToIntern>
            </fieldIdsToIntern>
        </interning>
        <hooks>
            <hook type="Sitecore.Diagnostics.MemoryMonitorHook, Sitecore.Kernel">
                <param desc="Threshold">10GB</param>
                <param desc="Check interval">00:30:00</param>
                <param desc="Minimum time between log entries">00:00:10</param>
                <ClearCaches>true</ClearCaches>
                <GarbageCollect>true</GarbageCollect>
                <AdjustLoadFactor>false</AdjustLoadFactor>
            </hook>
        </hooks>
    </sitecore>
</configuration>