<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <unicorn>
            <authenticationProvider>
                <SharedSecret>zUcdjtAKn21fEXIqFnrSemWPWaAwsWzhgFDWYMBiemWPWaAwsWzhgFDWYMBi1234</SharedSecret>
                <WriteAuthFailuresToLog>false</WriteAuthFailuresToLog>
            </authenticationProvider>
        </unicorn>
    </sitecore>
</configuration>